
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sans-serif;
  padding: 1rem;
}
input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 300px;
}
li {
  margin: 5px 0;
  cursor: pointer;
}
li:hover {
  background-color: #eee;
}